footer{
    height: 90px;
    background-color: #090c14;
    font-size: 15px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    p{
        margin: 6px;

    } 
    div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        img{
        width:17px;
        } 
    }
}

@media (max-width: 1000px){
    footer{
        height: 135px;
        font-size: 22px;
        padding: 20px;
        p{
            margin: 6px;
        } 
        div{
            img{
            width: 20px;
            } 
        }
    }
}