.artistDiv figure .type1 {
  margin-left: 37px;
  width: 209px;
  height: 410px;
}

.artistDiv figure .type2 {
  width: 269px;
  height: 409px;
}

.artistDiv figure figcaption {
  text-align: center;
  font-size: 14px;
}

img:hover {
  -webkit-transform: none;
          transform: none;
}

.upBtn {
  bottom: 40px;
  right: 30px;
}

.upBtn img {
  width: 85px;
}

.whitedv {
  height: 100px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.whitedv h3 {
  text-align: center;
  font-size: 22px;
}

.Autors {
  margin: auto;
  margin-top: 50px;
  width: 100%;
}

.Autors p {
  font-size: 12px;
}

.Autors h4 {
  font-size: 12px;
}

.Autors .hokisdDV .portHok {
  float: right;
  height: 470px;
  margin-left: 9px;
  margin-top: 105px;
}

.Autors .hokisdDV h1, .Autors .hokisdDV h5 {
  margin: 0px;
  text-align: center;
}

.Autors .hokisdDV h4 {
  margin-top: 35px;
  margin-bottom: 32px;
  line-height: 0px;
}

.Autors .hokisdDV p {
  font-size: 14px;
  margin-left: 8px;
  width: 100%;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-indent: 22px;
}

.Autors .HokusGalDv {
  width: 100%;
  margin-top: 65px;
  margin-bottom: 30px;
}

.Autors .HokusGalDv .HokusGaler {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Autors .HokusGalDv .HokusGaler figure {
  margin: 0px 0px 30px 0px;
}

.Autors .HokusGalDv .HokusGaler figure .type1 {
  width: 340px;
  height: 215px;
}

.Autors .HokusGalDv .HokusGaler figure .type2 {
  width: 206px;
  height: 323px;
}

.Autors .HokusGalDv .HokusGaler figure figcaption {
  font-size: 12px;
}

.Autors .KunieshiDV .portKnsh {
  float: left;
  height: 477px;
  width: 331px;
  margin-top: 72px;
  margin-right: 21px;
}

.Autors .KunieshiDV h1, .Autors .KunieshiDV h5 {
  margin: 0px;
  text-align: center;
}

.Autors .KunieshiDV h4 {
  margin-top: 35px;
  margin-bottom: 32px;
  line-height: 0px;
}

.Autors .KunieshiDV p {
  margin-left: 0px;
  width: 100%;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-indent: 22px;
}

.Autors .KunieshiGalDv {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
}

.Autors .KunieshiGalDv .KunieshiGaler {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Autors .KunieshiGalDv .KunieshiGaler figure {
  text-align: center;
  margin: 0px;
}

.Autors .KunieshiGalDv .KunieshiGaler figure .type1 {
  width: 330px;
  height: 265px;
}

.Autors .KunieshiGalDv .KunieshiGaler figure .type2 {
  width: 234px;
  height: 320px;
}

.Autors .KunieshiGalDv .KunieshiGaler figure .type3 {
  width: 679px;
  height: 270px;
}

.Autors .KunieshiGalDv .KunieshiGaler figure figcaption {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.Autors .UtagawaDv .portUtagaw {
  float: right;
  height: 457px;
  margin-left: 30px;
  margin-top: 77px;
}

.Autors .UtagawaDv h1, .Autors .UtagawaDv h5 {
  margin: 0px;
  text-align: center;
}

.Autors .UtagawaDv h4 {
  margin-top: 35px;
  margin-bottom: 32px;
  line-height: 0px;
}

.Autors .UtagawaDv p {
  width: 100%;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-indent: 22px;
}

.Autors .UtagawaGalDv {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;
}

.Autors .UtagawaGalDv .UtagawaGaler {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Autors .UtagawaGalDv .UtagawaGaler figure {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.Autors .UtagawaGalDv .UtagawaGaler figure .type1 {
  width: 358px;
  height: 240px;
}

.Autors .UtagawaGalDv .UtagawaGaler figure .type2 {
  margin: 0px 10px 0px 10px;
  width: 245px;
  height: 340px;
}

.Autors .UtagawaGalDv .UtagawaGaler figure figcaption {
  text-align: center;
  font-size: 12px;
}
/*# sourceMappingURL=artists_media.css.map */