@mixin Autorsp(){
    width: 98%;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-indent: 22px;
}

@mixin FigcapImg(){
    text-align: center;
    font-size: 12px;    
}
.artistDiv{
    width: 95%;
    figure{ 
        .type1{
            margin-left: 8%;
            width: 80%;
            height: 300px;
        }
        .type2{
            width: 100%;
            height: 300px;
        }
        .type3{
            width: 104%;
            height: 300px;
        }
        figcaption{
            text-align: center;
            font-size: 14px;

        }
    }
}

img:hover{
    transform:none;
}
.upBtn{
    bottom: 40px;
    right: 30px;
    img{
        width: 55px;
    }
}
.whitedv{
    height: 100px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    h3{
        text-align: center;
        font-size: 22px;
    }
}

.Autors{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    p{
        font-size: 12px;
    }
    h4{
        font-size: 12px;
    }
    .hokisdDV{
        
        .portHok{
            float: right;
            height: 470px;
            margin-left: 9px;
            margin-top: 105px;
        }
        h1,h5{
            margin: 0px;
            text-align: center;
        }
        h4{
            margin-top: 35px;
            margin-bottom: 32px;
            line-height: 0px;
        }
        p{
            font-size: 14px;
            margin-left: 8px;
            @include Autorsp();
        }
    }//hokisdDV 

    .HokusGalDv{
        width: 100%;
        margin-top: 65px;
        margin-bottom: 30px;
        
        .HokusGaler{
            justify-content: space-around;
            figure{
                margin: 0px 0px 30px 0px;
                .type1{
                    width: 340px;
                    height: 215px;
                }
                .type2{
                    width: 206px;
                    height: 323px;
                }
                figcaption{
                    @include FigcapImg();   
                    
                }
            }   
        }
    }//HokusGalDv

    .KunieshiDV{

        .portKnsh{
            float: left;
            height: 477px;
            width: 331px;
            margin-top: 72px;
            margin-right: 21px;
        }
        h1,h5{
            margin: 0px;
            text-align: center;
        }
        h4{
            margin-top: 35px;
            margin-bottom: 32px;
            line-height: 0px;
        }
        p{
            margin-left: 0px;
            @include Autorsp();
        }

    }//KunieshiDV
        .KunieshiGalDv{
            width: 100%;
            margin-top: 0px;
            margin-bottom:  40px;
            .KunieshiGaler{
                justify-content: space-around;
    
                figure{
                    text-align: center;
                    margin: 0px;
                    .type1{
                        width: 330px;
                        height: 265px;
                    }
                    .type2{
                        width: 234px;
                        height: 320px;
                    }
                    .type3{
                        width: 679px;
                        height: 270px;
                    }
                    figcaption{
                        @include FigcapImg();   
                        margin-bottom: 20px;
                        
                    }
                }   
            }
        }//KunieshiGalDv
    
    .UtagawaDv{
        .portUtagaw{
            float: right;
            height: 457px;
            margin-left: 30px;
            margin-top: 77px;
        }
        h1,h5{
            margin: 0px;
            text-align: center;
        }
        h4{
            margin-top: 35px;
            margin-bottom: 32px;
            line-height: 0px;
        }
        p{
            @include Autorsp();
        }

    }//UtagawaDv
        .UtagawaGalDv{
            width: 100%;
            margin-top: 50px;
            margin-bottom: 15px;
            .UtagawaGaler{
                justify-content: space-around;
    
                figure{
                    text-align: center;
                    margin: 0px 0px 30px 0px;
                    .type1{
                        width: 358px;
                        height: 240px;
                    }
                    .type2{
                        margin: 0px 10px 0px 10px;
                        width: 245px;
                        height: 340px;
                    }
                    figcaption{
                        @include FigcapImg();   
                    }
                }   
            }//KunieshiGaler
        }//UtagawaGalDv

}//Autors
