.main{
    width: 100%;
    .whitedv{
        margin-top: 60px;
        height: 70px;
        width: 100%; 
        font-size: 26px;
    }
    .Series{
        margin-top: 70px;
        width: 95%;
        padding-left: 5%;
        .SeriesDv{
            .SeriesImg {  
                background-color: white;
                width: 90%;
                height: 310px; 
                
                img{
                    width: 100%;
                    height: 310px; 
                }
                
                .FgCaption{  
                    bottom:0;   
                    width: 90%;
                    height: 60px;
                    font-size: 18px;
                }
            }
        }
    }
}