.upBtn{
    bottom: 40px;
    right: 30px;
    img{
        width: 85px;
    }
}
.main{
    width: 100%;
    .whitedv{
        margin-top: 60px;
        height: 70px;
        width: 100%; 
        font-size: 26px;
    }
    .Series{
        margin-top: 70px;
        width: 920px;
        
        .SeriesDv{
            .SeriesImg {  
                background-color: white;
                width: 420px;
                height: 310px; 
                img{
                    width: 420px;
                    height: 310px; 
                }
                
                .FgCaption{  
                    bottom:0;   
                    width: 420px;
                    height: 60px;
                    font-size: 18px;
                }
            }
        }
    }
}