.upBtn{
    bottom: 40px;
    right: 30px;
    img{
        width: 85px;
    }
}
.main{
    width: 100%;
    .whitedv{
        height: 70px;
        width: 100%; 
        font-size: 18px;
    }
    .Series{
        margin-top: 70px;
        width: 920px;
        
        .SeriesDv{
            .SeriesImg {  
                background-color: white;
                width: 420px;
                height: 300px; 
                img{
                    width: 420px;
                    height: 300px; 
                }
                
                .FgCaption{  
                    position:absolute;
                    bottom:0;   
                    width: 420px;
                    height: 50px;
                    background: #080b13f0;
                    font-size: 16px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}