html{
    scroll-behavior: smooth;   
}
body{
    font-family:  Calibri, sans-serif;
    margin: 0;
    background-color: #131925;
    color: rgba(255, 255, 255, 1);
}    
.hokusA{
    color:white;
    text-decoration: none;  
}
.hokusA:hover{
        text-decoration: underline;
    }
@import 'header';

@media (max-width: 1000px){
    img:hover{
        transform:none;
    }
}
@media (max-width: 980px){
    .upBtn{
        bottom: 40px;
        right: 30px;
        img{
            width: 55px;
        }
    }
}
.upBtn{
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.mainImg{
    height: 650px;
    background-image: url("../img/TheGreatWave.jpg");
    background-size: 100% 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;

   .CenterText{
        width:100%;
        margin-top: 160px;
    }
    .PicNM{
        padding: 4px;
        width: 300px;
        text-align: center;
        background: rgba(6, 9, 28, 0.842);

    }
}

.textBlok1{
    margin: 30px 104px 30px 104px;
    font-size: 17px;

    h1{
        text-align: center;
    }

    h3{
        text-align: left;
    }
    ul{
        li{
            
            margin-top: 15px;
        }
    }

    @media (max-width: 980px){
        font-size: 95%;
        h3{
            font-size: 17px;
            text-align: left;
        }
        ul{
            li{
                
                margin-top: 15px;
            }
        }
    }
}

.genresImg{
    background-color:#0d121e;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .Flexdiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    figure{
        text-align: center;
        img:hover{
            transform: scale(1.3);
            transition: 1.5s;
        }
        .type1{
            width: 300px;
            height: 450px;
        }
        .type2{
            width: 400px;
            height: 300px;
            
        }
        .Fctype2{
                margin-left: 30px;
                width: 350px;
            }
        figcaption{
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            font-size: 14px;
            width: 290px;
        }
    }
}

////////////////////////////////////////

.textBlok2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 775px;
    margin: auto;
    .Text2_1{
        h1{
            text-align: center;
        }

        p{
            padding-left: 8px;
            font-size: 17px;
            line-height: 23px;
            letter-spacing: 0.04em;
            text-indent: 22px;    
        }
        .figGoriz{
            text-align: center;
            img{
                width: 650px;
                height: 430px;
            }
            img:hover{
                transform: scale(1.3);
                transition: 1.5s;
            }
            .figCapGoriz{
                font-size: 14px;
            }
        }
    }


    .Text2_2{    
        width: 775px;
        margin-top: 15px;
    
        .p2_2_1,.p2_2_2{
            margin-top: 20px;
            width: 460px;
            padding-left: 8px;
            font-size: 17px;
            line-height: 23px;
            letter-spacing: 0.04em;
            text-indent: 22px;

            margin-bottom: 30px;
        }
        .p2_2_3,.p2_2_4{
            padding-left: 8px;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.04em;
            text-indent: 22px;
        }
        img:hover{
            transform: scale(1.3);
            transition: 1.5s;
        }   
    }

        .figEdo{
            float: right;
            margin: 0px;
            text-align: center;
                .p3img{
                    width: 310px;
                    height: 440px;
                }
                .figCapEdo{
                    font-size: 14px;
                    width: 270px;            
                }
        }

        .KabukiFig{
            text-align: center;
            margin-top: 18px;
            .KabukiIMG{
                width: 333px;
                height: 498px;
            }
        }

        @media (max-width: 1000px){
            .Text2_1{
                width: 95%;
                p{
                    padding-left: 5%;
                   font-size: 95%;
                }
                .figGoriz{
                    .figCapGoriz{
                        font-size: 12px;
                    }
                }
            }
            .Text2_2{
                .p2_2_1{
                    width: 100%;
                    padding-left: 5%;
                    font-size: 95%;
                } 
                .p2_2_2{
                    width:100%;
                    padding-left: 5%;
                    font-size: 95%;
                }
                .p2_2_3,.p2_2_4{
                    width: 90%;
                    padding-left: 5%;
                    font-size: 95%;
                }
            } 
            .figEdo{
                .p3img{
                    width: 90%;
                    height: 490px;
                }
            }
            .KabukiFig{
                font-size: 12px;
                margin: 0px;
            }
        }

    }

    .Text2_3{
        h1{
            text-align: center;
        }
        .p3_1{
            padding-left: 8px;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.04em;
            text-indent: 22px; 
        }
        .figGoriz{
            text-align: center;

        }
        @media(max-width: 1000px){
            .p3_1{
                width: 88%;
                padding-left: 5%;
                font-size: 95%;
            }
            .figGoriz{
                img{
                    width: 100%;
                }
            }
        }
        

    }
    .Text2_4{
        margin-bottom: 10px;
        h1{
            text-align: center;
        }
        p{
            padding-left: 8px;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.04em;
            text-indent: 22px; 
        }
       .figuresVanGog{
            font-size: 14px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            .VanGogFigure{   
                img:hover{
                    transform: scale(1.3);
                    transition: 1.5s;
                }
                .VanGogIMG{
                    width: 340px;
                    height: 447px;
                }
            }
        }
    @media(max-width: 1000px){
        p{
            width: 90%;
            padding-left: 5%;
            font-size: 95%;
        }
        .figuresVanGog{
            .VanGogFigure{   
                .VanGogIMG{
                    width: 90%;          
                }
            }
        }
        
    }  
   
}

@import 'footer';